.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    
    width: 90%;
    max-width: 380px; 
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    margin: auto;
}

.user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000000;
    margin-bottom: 30px; 
}

.login-container input {
    width: 100%;
    max-width: 300px;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-container input:focus {
    border-color: #007bff;
    outline: none;
}

.login-container button {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Mensaje de Error */
.login-container .error {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}